@model HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">
        <i class="fa fa-warning"></i>
        الحساب مغلق
    </h1>
    <h2 class="text-danger">تم ادخال كلمة المرورو خطأ لعدد من المرات على التوالى و تم تعطيل الحساب لضمان الحماية الرجاء محاولة الدخول بعد قليل</h2>
</hgroup>