@{
    ViewBag.Title = "Confirm Email";
}

<h2>تم التسجيل بنجاح</h2>
<div>
    <p>
        تمت عملية التسجيل بنجاح يمكنك الدخول الان و متابعة التحويلات من @Html.ActionLink("هنا", "Login", "Account", null, new {id = "loginLink"})
    </p>
</div>