<h2>
    <i class="fa fa-warning"></i>عفوا لم تقم بتفعيل حسابك
</h2>
<p>
    لقد قمت بتسجيل بياناتك و لكن لم تقم بتفعيل حسابك المرسل على البريد الألكترونى الذى قمت بتسجيلة من فضلك قم بالدخول على حساب البريد الخاص بط و اضغط على رابط التفعيل
    <small>
        <mark>
            <em>
                ملحوظة قد لا تظهر الرسالة فى البريد الوارد تفقد الأيميل بصندوق المهملات
            </em>
        </mark>
    </small>
    يمكنك أعادة أرسال البريد
    <a href="/Account/ResendConfirmationEmail" class="btn btn-primary">
        <i class="fa fa-mail-reply"></i>
        من هنا
    </a>

</p>