@model string
@{
    ViewBag.Title = "تم ارسال البريد بنجاح ";
}

<h2>
    <i class="fa fa-envelope-open-o"></i>

    تم ارسال الكود بنجاح
</h2>
<p>
    لقد تم ارسال بريد يحتوى على لينك تفعيل الحساب على بريد
    <a class="btn btn-primary disabled">@ViewBag.EmailAdd</a>


    يرجى الدخول و الضغط علية لاتمام عملية التسجيل
    قد لا يظهر البريد فى صندوق الوارد الخاص بكم يرجى مراجعة صندوق المهملات و شكرا


</p>