@{
    ViewBag.Title = "أستعادة كلمة المرور";
}

<hgroup class="title">
    <h1>

        <i class="fa fa fa-envelope-open-o"></i>
        @ViewBag.Title.
    </h1>
</hgroup>
<div>
    <p>

        لقد تم ارسال رسالة أستعادة كلمة المرور على بريدك الألكترونى
    </p>
</div>