@{
    ViewBag.Title = "تعديل كلمة المرور";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>

        لقد قمت بتعديل كلمة المرور بنجاح من فضلك @Html.ActionLink("أضغط هنا للدخول", "Login", "Account", null, new {id = "loginLink"})
    </p>
</div>