@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>أهلا بكم</h1>
    <p class="lead"> الصفحة الخاصة لعمليات الدفع الألكترونى بكلية الطب جامعة الأسكندريه </p>

    <h5 >للحصول على الرمز الكودى لاتمام عملية التسجيل او للشكاوى و الأقتراحات برجاء الرجوع الى قسم المراجعة بالمبنى الأدارى الدور الثانى أو الأتصال بأحد الأرقام التاليه </h5>
    <br/>
    <ul>
        <li><i class="fa fa-phone"></i> محمد شريف ت/ 01111269832</li>
       

    </ul>

</div>